*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

main{
    border: none;
    margin: 30px auto;
    width: 1228px;
    height: 516px;
    gap: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 165px 165px 165px;
    grid-template-areas: "content-1 content-2 content-3 content-4 content-5 content-6"
                         "content-7 content-8 content-9 content-10 content-11 content-12"
                         "content-13 content-14 content-15 content-16 content-17 content-18"
                         ;
}

.content-1{
    grid-area: content-1;
    background-color: lightblue;
}

.content-2{
    grid-area: content-2;
    background-color: lightcoral;
}

.content-3{
    grid-area: content-3;
    background-color: lightcyan;
}

.content-4{
    grid-area: content-4;
    background-color: lightgoldenrodyellow;
}

.content-5{
    grid-area: content-5;
    background-color: lightgray;
}

.content-6{
    grid-area: content-6;
    background-color: lightgreen;
}

.content-7{
    grid-area: content-7;
    background-color: lightgrey;
}

.content-8{
    grid-area: content-8;
    background-color: lightpink;
}

.content-9{
    grid-area: content-9;
    background-color: lightsalmon;
}

.content-10{
    grid-area: content-10;
    background-color: lightseagreen;
}

.content-11{
    grid-area: content-11;
    background-color: lightskyblue;
}

.content-12{
    grid-area: content-12;
    background-color: lightslategray;
}

.content-13{
    grid-area: content-13;
    background-color: lightsteelblue;
}

.content-14{
    grid-area: content-14;
    background-color: lightyellow;
}

.content-15{
    grid-area: content-15;
    background-color: lightslategrey;
}

.content-16{
    grid-area: content-16;
    background-color: lightgreen;
}

.content-17{
    grid-area: content-17;
    background-color: lightsalmon;
}

.content-18{
    grid-area: content-18;
    background-color: lightgoldenrodyellow;
}